{% extends "/base/base.html.twig" %}
{% block body %}

{#<link href="../../public/css/offcanvas.css" rel="stylesheet">#}

<main role="main" class="container">
    <div class="container">
    {% block headerTitle %}
        <h1>Accueil</h1>
    {% endblock %}
    <br>
        <div class="media">
            {#<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">#}
            <div class="media-body">
                <h5 class="mt-0 mb-1">@DeadSkill</h5>
                Mon premier tweet c'est super cool. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                {#Logos sur chaque tweet#}
                {#Logo commenter#}
                <a href=""><h5 class="mt-0 mb-1"><i class="far fa-comment"></i></a>
                {#Logo retweet#}
                <a href=""><i class="fas fa-retweet"></i></a>
                {#Logo like#}
                <a href=""><i class="fas fa-heart"></i></a>
                {#Logo envoyer un message#}
                <a href=""><i class="fas fa-envelope"></i></a></h5>
            </div>
            <img class="ml-3" src="" alt="Generic placeholder image">
            {#</div>#}
        </div>
    </div>
</main>
{% endblock %}
